Repository ppolxda/reportbro-designer-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-export, black, autoflake, flake8, isort, pydocstyle, pyright, check-added-large-files, check-yaml, check-toml, trailing-whitespace-fixer, end-of-file-fixer, fix-encoding-pragma, debug-statement-hook, check-docstring-first, mixed-line-ending

Path conditions:
  poetry-check: any of: ^(pyproject.toml|poetry.lock)$
  poetry-export: any of: ^(pyproject.toml|poetry.lock)$
  black: any of: \.py$, but not: (?x)(
^mdbs/.*
| migrate/versions/.*
)

  autoflake: any of: \.py$
  flake8: any of: \.py$, but not: (?x)(
^mdbs/.*
| migrate/versions/.*
| .*\.lock$
)

  isort: any of: \.py$, but not: (?x)(
^mdbs/.*
| migrate/versions/.*
)

  pydocstyle: any of: \.py$, but not: (?x)(
^mdbs/.*
| migrate/versions/.*
| .*\.lock$
)

  pyright: any of: \.py$
  check-added-large-files: any of: \.py$
  check-yaml: any of: \.(yml|ymal)$ and \.py$
  check-toml: any of: \.(yml|ymal)$ and \.py$
  trailing-whitespace-fixer: any of: \.py$, but not: (?x)(
  ^depends//.*
  | ^tests/.*/fixtures/.*
  | ^.vscode/.*
  | .*\.md$
  | .*\.lock$
)

  end-of-file-fixer: any of: \.py$, but not: (?x)(
  ^depends//.*
  | ^tests/.*/fixtures/.*
  | ^.vscode/.*
  | .*\.md$
)

  fix-encoding-pragma: any of: \.py$
  debug-statement-hook: any of: \.py$
  check-docstring-first: any of: \.py$
  mixed-line-ending: any of: \.py$, but not: (?x)(
  .*\.bat$
)


add local torage
  .pre-commit-config.yaml
  .pylintrc
  docker-compose.mysql.yml
  poetry.lock
  pyproject.toml
  reportbro_designer_api/backend/__init__.py
  reportbro_designer_api/backend/backends/__init__.py
  reportbro_designer_api/backend/backends/base.py
  reportbro_designer_api/backend/backends/db.py
  reportbro_designer_api/backend/backends/s3.py
  reportbro_designer_api/backend/migrate/versions/748587e32a5d_init.py
  reportbro_designer_api/backend/s3.py
  reportbro_designer_api/backend/schemas.py
  reportbro_designer_api/clients.py
  reportbro_designer_api/endpoints/page_view.py
  reportbro_designer_api/endpoints/reportbro_api.py
  reportbro_designer_api/endpoints/reportbro_schema.py
  reportbro_designer_api/errors.py
  reportbro_designer_api/s3/base.py
  reportbro_designer_api/s3/s3_client.py
  reportbro_designer_api/settings.py
  reportbro_designer_api/storage/__init__.py
  reportbro_designer_api/storage/base.py
  reportbro_designer_api/storage/mange.py
  reportbro_designer_api/storage/schemas.py
  reportbro_designer_api/storage/storages.py
  reportbro_designer_api/storage/storages/__init__.py
  reportbro_designer_api/storage/storages/base.py
  reportbro_designer_api/storage/storages/local.py
  reportbro_designer_api/storage/storages/s3.py
  reportbro_designer_api/utils/model.py
  reportbro_designer_api/utils/s3/base.py
  reportbro_designer_api/utils/s3/s3_client.py
  reportbro_designer_api/utils/s3_client.py
  requirements.txt
  tests/conftest.py
  tests/test_backend_api.py
  tests/test_storage_api.py
Due: poetry-check, poetry-export, black, autoflake, flake8, isort, pydocstyle, pyright, check-added-large-files, trailing-whitespace-fixer, end-of-file-fixer, fix-encoding-pragma, debug-statement-hook, check-docstring-first, mixed-line-ending

add web api test, fix pdf download file error
  reportbro_designer_api/endpoints/reportbro_api.py
  reportbro_designer_api/endpoints/reportbro_schema.py
  reportbro_designer_api/storage/storages/base.py
  reportbro_designer_api/storage/storages/s3.py
  tests/conftest.py
  tests/test_web_api.py
Due: black, autoflake, flake8, isort, pydocstyle, pyright, check-added-large-files, trailing-whitespace-fixer, end-of-file-fixer, fix-encoding-pragma, debug-statement-hook, check-docstring-first, mixed-line-ending

merge code for jobsta
  poetry.lock
  pyproject.toml
  reportbro_designer_api/static/reportbro/reportbro.css
  reportbro_designer_api/static/reportbro/reportbro.css.map
  reportbro_designer_api/static/reportbro/reportbro.js
  reportbro_designer_api/static/reportbro/reportbro.js.LICENSE.txt
  reportbro_designer_api/static/reportbro/reportbro.js.map
  reportbro_designer_api/static/reportbro/reportbro.min.js
  reportbro_designer_api/static/reportbro/reportbro.min.js.map
  reportbro_designer_api/static/reportbro/src/fonts/open-sans-v34-latin-300.woff
  reportbro_designer_api/static/reportbro/src/fonts/open-sans-v34-latin-300.woff2
  reportbro_designer_api/static/reportbro/src/fonts/open-sans-v34-latin-600.woff
  reportbro_designer_api/static/reportbro/src/fonts/open-sans-v34-latin-600.woff2
  reportbro_designer_api/static/reportbro/src/fonts/open-sans-v34-latin-800.woff
  reportbro_designer_api/static/reportbro/src/fonts/open-sans-v34-latin-800.woff2
  reportbro_designer_api/static/reportbro/src/fonts/open-sans-v34-latin-regular.woff
  reportbro_designer_api/static/reportbro/src/fonts/open-sans-v34-latin-regular.woff2
  reportbro_designer_api/static/reportbro/src/iconfonts/reportbro.svg
  reportbro_designer_api/static/reportbro/src/iconfonts/reportbro.ttf
  reportbro_designer_api/static/reportbro/src/iconfonts/reportbro.woff
  reportbro_designer_api/static/reportbro/src/iconfonts/reportbro.woff2
  reportbro_designer_api/templates/designer.html.jinja2
Due: poetry-check, poetry-export

add api Create Templates, use own tid
  reportbro_designer_api/endpoints/reportbro_api.py
  reportbro_designer_api/endpoints/reportbro_schema.py
  tests/test_web_api.py
Due: black, autoflake, flake8, isort, pydocstyle, pyright, check-added-large-files, trailing-whitespace-fixer, end-of-file-fixer, fix-encoding-pragma, debug-statement-hook, check-docstring-first, mixed-line-ending

remove types_aiobotocore_s3
  reportbro_designer_api/backend/backends/s3.py
  reportbro_designer_api/utils/s3_client.py
Due: black, autoflake, flake8, isort, pydocstyle, pyright, check-added-large-files, trailing-whitespace-fixer, end-of-file-fixer, fix-encoding-pragma, debug-statement-hook, check-docstring-first, mixed-line-ending

fix api path conflict
  reportbro_designer_api/endpoints/reportbro_api.py
Due: black, autoflake, flake8, isort, pydocstyle, pyright, check-added-large-files, trailing-whitespace-fixer, end-of-file-fixer, fix-encoding-pragma, debug-statement-hook, check-docstring-first, mixed-line-ending

update fastapi package, drop setting params
  poetry.lock
  pyproject.toml
  reportbro_designer_api/backend/backends/db.py
  reportbro_designer_api/backend/dbcli.py
  reportbro_designer_api/clients.py
  reportbro_designer_api/endpoints/reportbro_api.py
  reportbro_designer_api/endpoints/reportbro_schema.py
  reportbro_designer_api/main.py
  reportbro_designer_api/settings.py
  reportbro_designer_api/storage/mange.py
  reportbro_designer_api/storage/storages/base.py
  reportbro_designer_api/storage/storages/local.py
  reportbro_designer_api/storage/storages/s3.py
  reportbro_designer_api/utils/model.py
Due: poetry-check, poetry-export, black, autoflake, flake8, isort, pydocstyle, pyright, check-added-large-files, trailing-whitespace-fixer, end-of-file-fixer, fix-encoding-pragma, debug-statement-hook, check-docstring-first, mixed-line-ending

support nginx config
  .vscode/launch.json
  reportbro_designer_api/main.py
  reportbro_designer_api/static/ui/assets/index-0333ddd9.js
  reportbro_designer_api/static/ui/assets/index-a3ecea17.js
  reportbro_designer_api/static/ui/index.html
  reportbro_manage_ui/.env.prod
  reportbro_manage_ui/src/components/formatedLink/index.tsx
  reportbro_manage_ui/src/config/index.ts
Due: black, autoflake, flake8, isort, pydocstyle, pyright, check-added-large-files, trailing-whitespace-fixer, end-of-file-fixer, fix-encoding-pragma, debug-statement-hook, check-docstring-first, mixed-line-ending

update requirements.txt, fix isort error
  reportbro_designer_api/backend/backends/db.py
  reportbro_designer_api/clients.py
  reportbro_designer_api/main.py
  reportbro_designer_api/settings.py
  reportbro_designer_api/storage/mange.py
  reportbro_designer_api/storage/storages/base.py
  reportbro_designer_api/storage/storages/local.py
  reportbro_designer_api/storage/storages/s3.py
  reportbro_designer_api/utils/model.py
  requirements.txt
Due: black, autoflake, flake8, isort, pydocstyle, pyright, check-added-large-files, trailing-whitespace-fixer, end-of-file-fixer, fix-encoding-pragma, debug-statement-hook, check-docstring-first, mixed-line-ending

fix s3 config bucket error
  reportbro_designer_api/clients.py
Due: black, autoflake, flake8, isort, pydocstyle, pyright, check-added-large-files, trailing-whitespace-fixer, end-of-file-fixer, fix-encoding-pragma, debug-statement-hook, check-docstring-first, mixed-line-ending

fix create_bucket_when_not_exist error
  reportbro_designer_api/backend/backends/s3.py
  reportbro_designer_api/clients.py
  reportbro_designer_api/storage/storages/s3.py
  reportbro_designer_api/utils/s3_client.py
Due: black, autoflake, flake8, isort, pydocstyle, pyright, check-added-large-files, trailing-whitespace-fixer, end-of-file-fixer, fix-encoding-pragma, debug-statement-hook, check-docstring-first, mixed-line-ending

fix can not set version_id to null
  reportbro_designer_api/endpoints/reportbro_schema.py
Due: black, autoflake, flake8, isort, pydocstyle, pyright, check-added-large-files, trailing-whitespace-fixer, end-of-file-fixer, fix-encoding-pragma, debug-statement-hook, check-docstring-first, mixed-line-ending

add default page limit
  reportbro_designer_api/endpoints/reportbro_api.py
  reportbro_designer_api/settings.py
Due: black, autoflake, flake8, isort, pydocstyle, pyright, check-added-large-files, trailing-whitespace-fixer, end-of-file-fixer, fix-encoding-pragma, debug-statement-hook, check-docstring-first, mixed-line-ending

mutil generate support RequestReviewTemplate fix setting error
  reportbro_designer_api/clients.py
  reportbro_designer_api/endpoints/reportbro_api.py
  reportbro_designer_api/endpoints/reportbro_schema.py
  reportbro_designer_api/settings.py
Due: black, autoflake, flake8, isort, pydocstyle, pyright, check-added-large-files, trailing-whitespace-fixer, end-of-file-fixer, fix-encoding-pragma, debug-statement-hook, check-docstring-first, mixed-line-ending

fix outputFormat params
  reportbro_designer_api/endpoints/reportbro_api.py
  reportbro_designer_api/endpoints/reportbro_schema.py
Due: black, autoflake, flake8, isort, pydocstyle, pyright, check-added-large-files, trailing-whitespace-fixer, end-of-file-fixer, fix-encoding-pragma, debug-statement-hook, check-docstring-first, mixed-line-ending

set date default None
  reportbro_designer_api/utils/report.py
Due: black, autoflake, flake8, isort, pydocstyle, pyright, check-added-large-files, trailing-whitespace-fixer, end-of-file-fixer, fix-encoding-pragma, debug-statement-hook, check-docstring-first, mixed-line-ending

if nullable fillna is None when field is na
  reportbro_designer_api/utils/report.py
Due: black, autoflake, flake8, isort, pydocstyle, pyright, check-added-large-files, trailing-whitespace-fixer, end-of-file-fixer, fix-encoding-pragma, debug-statement-hook, check-docstring-first, mixed-line-ending

fix multi generate slow, use process pool and fix font load slow
  poetry.lock
  pyproject.toml
  reportbro_designer_api/endpoints/reportbro_api.py
  reportbro_designer_api/endpoints/reportbro_schema.py
  reportbro_designer_api/main.py
  reportbro_designer_api/settings.py
  reportbro_designer_api/utils/logger.py
  reportbro_designer_api/utils/report.py
Due: poetry-check, poetry-export, black, autoflake, flake8, isort, pydocstyle, pyright, check-added-large-files, trailing-whitespace-fixer, end-of-file-fixer, fix-encoding-pragma, debug-statement-hook, check-docstring-first, mixed-line-ending

add log config
  .vscode/launch.json
  Dockerfile
  log_conf.yaml
  logging.conf
Due: none

fix s3 save path not incloud prefix
  reportbro_designer_api/settings.py
  reportbro_designer_api/storage/mange.py
  reportbro_designer_api/storage/storages/base.py
  reportbro_designer_api/storage/storages/local.py
  reportbro_designer_api/storage/storages/s3.py
Due: black, autoflake, flake8, isort, pydocstyle, pyright, check-added-large-files, trailing-whitespace-fixer, end-of-file-fixer, fix-encoding-pragma, debug-statement-hook, check-docstring-first, mixed-line-ending

fix pdf download filename
  reportbro_designer_api/storage/mange.py
Due: black, autoflake, flake8, isort, pydocstyle, pyright, check-added-large-files, trailing-whitespace-fixer, end-of-file-fixer, fix-encoding-pragma, debug-statement-hook, check-docstring-first, mixed-line-ending

fix code stype
  reportbro_designer_api/storage/mange.py
  reportbro_designer_api/storage/storages/base.py
  reportbro_designer_api/storage/storages/s3.py
  requirements.txt
Due: black, autoflake, flake8, isort, pydocstyle, pyright, check-added-large-files, trailing-whitespace-fixer, end-of-file-fixer, fix-encoding-pragma, debug-statement-hook, check-docstring-first, mixed-line-ending

fix docker-compose not run
  docker-compose.yml
Due: none

add reportbro submodules
  .gitmodules
  poetry.lock
  pyproject.toml
Due: poetry-check, poetry-export

upgrade designer page
  reportbro_designer_api/static/ext/jquery.js
  reportbro_designer_api/static/ext/jquery.js.LICENSE.txt
  reportbro_designer_api/static/reportbro/reportbro.css
  reportbro_designer_api/static/reportbro/reportbro.css.map
  reportbro_designer_api/static/reportbro/reportbro.js
  reportbro_designer_api/static/reportbro/reportbro.js.map
  reportbro_designer_api/static/reportbro/reportbro.min.js
  reportbro_designer_api/static/reportbro/reportbro.min.js.map
  reportbro_designer_api/templates/layout.html.jinja2
  scripts/build_designer.sh
Due: none

change submodule ssh to https
  .gitmodules
Due: none

fix docker build error
  Dockerfile
  requirements.txt
  tests/data/checkbox_template.json
Due: none

fix fpdf upgrade with CORE_FONTS
  reportbro_designer_api/utils/report.py
Due: black, autoflake, flake8, isort, pydocstyle, pyright, check-added-large-files, trailing-whitespace-fixer, end-of-file-fixer, fix-encoding-pragma, debug-statement-hook, check-docstring-first, mixed-line-ending

fix font cache error
  reportbro_designer_api/utils/report.py
  tests/data/checkbox_template.json
Due: black, autoflake, flake8, isort, pydocstyle, pyright, check-added-large-files, trailing-whitespace-fixer, end-of-file-fixer, fix-encoding-pragma, debug-statement-hook, check-docstring-first, mixed-line-ending
